/***  style6.css (faqs - Walter c/Vue)  ***/

.content-faq {
  background: rgba(115, 8, 143, .1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 2rem 0 ;
}

.content-faq .nav-faq {
  display: flex;
  font-family: 'Playfair Display', serif;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
  padding: .5rem;
  width: 100%;  
}

.content-faq .nav-faq img {
  width: 20%;
  object-fit: cover;
}

.content-faq .nav-faq img:hover {
  animation: rotate-scale-up-vertical 0.8s linear both;
}

.content-faq h1 {
  font-size: 2rem;
  width: auto;
  font-weight: bold;
}

/***  politica.html (faqs - Walter c/Vue)  ***/
.content-reemb h1 {
  padding: 10;
  font-size: 3rem;
  text-align: center;
}

.content-reemb h2 {
  padding: 10;
  font-size: 2.5rem;
}

.content-reemb .cancelRes {
  padding: 10;
  font-size: 2rem;
}

/***  politica.html (faqs - Walter c/Vue)  ***/

details {
  background: rgba(189, 43, 227, .3);
  width: 100%;
  padding: .5rem;
  border-radius: 6px;
  margin: .5rem;
  color: black;
  cursor: pointer;

}

.mediosDePago{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;


}
.mediosDePago img{
  margin: .5rem;
}

summary {
  list-style: none;
  font-size: 1.3rem;
  font-weight: bold;
}

summary:hover {
  background: rgba(174, 39, 223, 0.2);
}

summary::before {
  content: '+';
  padding-right: 1rem;
}

.rubro {
  display: flex;
}

details[open] summary~* {
  animation: sweep 1.8s ease-in-out;
}

details[open] summary::before {
  content: '-';
}

.answer {
  font-family: 'Roboto Flex', 'sans-serif';
  letter-spacing: 3px;
  font-size: 1.2rem;
  background: #f2f2f2;
}


@media screen and (min-width:660px) {
  .content-faq .nav-faq{
    width: 90%;
  }
  .content-faq h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
}

@media screen and (min-width:960px) {
  .content-faq .nav-faq{
    width: 70%;
  }
}







@keyframes sweep {
  from {
    opacity: 0;
    margin-top: -10px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes rotate-scale-up-vertical {
  0% {
    transform: scale(1) rotateY(0)
  }

  50% {
    transform: scale(2) rotateY(180deg)
  }

  100% {
    transform: scale(1) rotateY(360deg)
  }
}


/*      Fuentes de donde saqué tips and tricks
------------------------------------------------------------------------------
  Tema: DISEÑA tu PLANTILLA de PREGUNTAS FRECUENTES???
 Autor: Código Libre - (May-2021)
Fuente: https://youtu.be/kFt9EbHlcqU
------------------------------------------------------------------------------
  Tema: Mostrar y Ocultar contenido con JavaScript (sobre HTML)
 Autor: Bastian Andres Web - (Sep-2021)
Fuente: https://youtu.be/KJbLiV6Y9sY
------------------------------------------------------------------------------
  Tema: Acordeón Desplegable con HTML y CSS
 Autor: SLee Dw - (Abr-2022)
Fuente: https://youtu.be/_cmqqZRGcC4
------------------------------------------------------------------------------
  Tema: Cómo hacer ACORDEÓN desplegable con HTML (Detail & Summary)
 Autor: DropCoding - (Ene-2022)
Fuente: https://youtu.be/AwiZRPAkah8
------------------------------------------------------------------------------
  Tema: Detail and Summary tag in HTML with CSS styling and transitions
 Autor: CSS Dev and UX - (Ago-2020)
Fuente: https://youtu.be/4NAUHt8gebo
------------------------------------------------------------------------------
  Tema: 2 HTML Elements | Never Used? (Details & Summary)
 Autor: DesignCourse - (Oct-2020)
Fuente: https://youtu.be/PQtpZZQU0u0
------------------------------------------------------------------------------
  Tema: Colores En Degradé para CSS
 Autor: MY BRAND NEW LOGO - (Oct-2020)
Fuente: https://mybrandnewlogo.com/es/generador-de-gradiente-de-color
------------------------------------------------------------------------------

font-family: 'Oxygen', sans-serif;

----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- 

.rotate-scale-up-vertical{animation:rotate-scale-up-vertical 0.8s linear both} @keyframes rotate-scale-up-vertical{0%{transform:scale(1) rotateY(0)}50%{transform:scale(2) rotateY(180deg)}100%{transform:scale(1) rotateY(360deg)}}


*/