*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

.section{
    margin: 2rem 0;
    padding: 1rem 0;
}

.section h1{
    text-align: center;
    color:rgb(77, 3, 146);
}

p{
    font-family: 'Roboto Flex', 'sans-serif';
}

h1, h5{
    font-family: 'Playfair Display', serif;
    color:rgb(77, 3, 146);
}

